@import "src/materialize";
// @import "src/notfound";

.icon-block {
    padding: 0 15px;

    .material-icons {
        font-size: inherit;
    }
}

.logo {
    height: 100%;
    user-select: none;
    // pointer-events: none;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}