<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container center-content content">
    <div class="z-depth-1 grey darken-4 row login">
        <form class="col s12" method="post">
            {{error}}
            <div class='row'>
                <div class='input-field'>
                    <input class='validate white-text' type='text' id='user'>
                    <label for='user'>Gebruikersnaam</label>
                </div>
            </div>
            <div class='row'>
                <div class='input-field'>
                    <input class='validate white-text' type='password' name='password' id='password' />
                    <label for='password'>Wachtwoord</label>
                </div>
            </div>
            <br>
            <center>
                <div class='row'>
                    <button type='submit' class='btn btn-large waves-effect primary'>Login</button>
                </div>
            </center>
        </form>
    </div>
</div>