{{#extend "layout" title="Login - Magistex"}}
{{#content "head"}}
<link rel="stylesheet" href="/css/login.css">
{{/content}}
{{#content "scripts"}}
<script src="/js/login.js"></script>
{{/content}}
{{#content "body"}}

<div class="container center-content content">
    <div class="z-depth-1 grey darken-4 row login">
        <h5 class="white-text">Login</h5>
        <p class="deep-orange-text accent-4" id="errorMsg"></p>
        <form class="col s12" method="post">
            <div class='row'>
                <div class='input-field'>
                    <input class='validate white-text' type='text' id='user'>
                    <label for='user'>Gebruikersnaam</label>
                </div>
            </div>
            <div class='row'>
                <div class='input-field'>
                    <input class='validate white-text' type='password' name='password' id='password' />
                    <label for='password'>Wachtwoord</label>
                </div>
            </div>
            <br>
            <center>
                <div class='row'>
                    <button type='submit' class='btn btn-large waves-effect primary'>Login</button>
                </div>
            </center>
        </form>
    </div>
</div>
{{/content}}
{{/extend}}