{{#extend "layout" title="Agenda - Magistex"}}
{{#content "scripts"}}
<script src="/js/main.js"></script>
{{/content}}
{{#content "body"}}
<div class="content">
    Succesvol ingelogd!!!
</div>
{{/content}}
{{/extend}}